.followers-following-wrapper {
    margin-left: 1.5rem;

    .heading-container {
        padding: 1.5rem 0rem;

        h2 {
            font-size: 1.75rem;
            font-weight: 500;
        }
    }

    .following-followers-btn-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        .following,
        .followers {
            .btn {
                border: 1px solid rgb(181, 181, 181);
                padding: 0.8rem;
                border-radius: 5px;
                font-size: 0.9rem;
                letter-spacing: 0.05rem;
                color: rgb(181, 181, 181);
                background-color: transparent;
                font-weight: 300;
            }

            .active-btn {
                background: border-box rgb(239, 79, 95);
                border-color: rgb(239, 79, 95);
                color: white;
            }
        }
    }

    .list-container {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

.followers-following-wrapper-loader {
    margin-left: 1.5rem;

    .heading-container-loader {
        padding: 1.5rem 0rem;

        h2 {
            font-size: 1.75rem;
            font-weight: 500;
        }
    }

    .pre-load-wrapper {
        animation: pre-loader 1s forwards linear infinite;
        
        .following-followers-btn-wrapper-loader {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;
    
            .following-loader,
            .followers-loader {
                border: none;
                padding: 1.2rem 0.8rem;
                border-radius: 5px;
                font-size: 0.9rem;
                letter-spacing: 0.05rem;
                background-color: rgb(181 181 181 / 37%);
                width: 100px;
            }
        }
    
        .list-container-loader {
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
    
            .following-followers-container-loader {
                display: flex;
                gap: 0.5rem;
                align-items: center;
    
                .image-container-loader {
                    width: 55px;
                    height: 55px;
                    border-radius: 50px;
                    background-color: rgb(181 181 181 / 37%);
                }
    
                .user-name-container-loader {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
    
                    .name-loader {
                        width: 200px;
                        height: 20px;
                        background-color: rgb(181 181 181 / 37%);
                        border-radius: 5px;
                    }
    
                    .reviews-followers-loader {
                        width: 100px;
                        height: 10px;
                        background-color: rgb(181 181 181 / 37%);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}