.food-card-container {
    display: flex;
    gap: 1.5rem;

    .image-container {
        .image {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .about-food-container {
        margin-bottom: 1rem;
        .food-name {
            max-width: 40rem;
            .name {
                color: rgb(28, 28, 28);
                font-weight: 500;
                line-height: 2rem;
            }
        }
        .food-price {
            .price {
                color: rgb(28, 28, 28);
                font-weight: 300;
                line-height: 2rem;
                display: flex;
                align-items: center;

                i {
                    font-size: 1.1rem;
                }
            }
        }

        .food-description {
            margin-top: 1rem;
            max-width: 39rem;

            .description {
                color: rgb(108, 108, 108);
                line-height: 1.25rem;
                letter-spacing: 0.05rem;

                span {
                    color: rgb(28, 28, 28);
                }
            }
        }

        .food-card-actions {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 0.8rem;
    
            button {
                background-color: #f44336;
                color: white;
                border: none;
                padding: 8px 12px;
                margin: 0 8px;
                border-radius: 4px;
                cursor: pointer;
            }
    
            button:disabled {
                background-color: #ddd;
                cursor: not-allowed;
            }
    
            span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}