@mixin item-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    @include item-alignment;
    gap: 1rem;
    padding: 1rem;
    margin: auto;

    .logo-container {
        img {
            padding: 0.825rem;
            width: 10rem;
        }
    }

    .location-search-box-container {
        @include item-alignment;
        gap: 1.5rem;
        padding: 0rem 1rem;
        border-radius: 0.275rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;

        .location-container {
            @include item-alignment;
            gap: 0.5rem;
            color: gray;

            span {
                color: rgb(236, 52, 20);
            }
        }

        .divider-container {
            color: gray;
            font-size: 1.5 rem
        }

        .search-box-container {
            @include item-alignment;

            .search {
                font-size: 1rem;
                border-radius: 0.675rem;
                padding: 1rem;
                border: none;
                width: 20rem;
                outline: none;
            }

            span {
                color: gray;
                font-size: 1rem;
            }
        }
    }

    .login-signup-container {
        @include item-alignment;
        gap: 1.5rem;
        margin-left: 4rem;

        .btn {
            font-size: 1.2rem;
            border: none;
            background-color: transparent;
            color: gray;
            text-decoration: blink;
        }
    }

    .profile-container {
        @include item-alignment;
        gap: 0.5rem;
        margin-left: 6rem;
        position: relative;

        .image-container {
            height: 40px;
            width: 40px;
            overflow: hidden;
            position: relative;
            border-radius: 50px;

            img {
                position: absolute;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            font-size: 1.25rem;
            font-weight: 500;
        }

        i {
            font-size: 1.5rem;
            font-weight: 300;
        }

        .toggle-profile-options {
            position: absolute;
            top: 157%;
            right: 0%;
            width: 200px;
            border-radius: 10px;
            box-shadow: rgba(28, 28, 28, 0.15) 0px 2px 8px;
            z-index: 100;
            overflow: hidden;
            background-color: white;

            .options {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1.5rem 1rem;
                gap: 1.5rem;

                li {
                    a {
                        text-decoration: blink;
                        font-size: 1rem;
                        color: rgb(28, 28, 28);
                    }
                }

                .list {
                    button {
                        border: none;
                        background: transparent;
                        font-size: 1rem;
                        font-weight: 500;
                        color: rgb(28, 28, 28);
                    }
                }
            }
        }
    }
}

.toggle-suggestions-wrapper {
    position: absolute;
    top: 10%;
    left: 43.5%;
    width: 450px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;

    .suggestions {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
    }
}