.food-detail-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .food-image-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.5rem;

        .img-1 {
            grid-column: 1;
            grid-row: 1/-4;

            .img {
                width: 720px;
                height: 412px;
            }
        }

        .img-2 {
            .img {
                height: 200px;
                width: 200px;
            }
        }

        .img-3 {
            grid-column: 2;
            grid-row: -3/-1;

            .img {
                height: 200px;
                width: 200px;
            }
        }

        .img-4 {
            grid-column: 3;
            grid-row: 1/-4;

            .img-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                background-color: #00000080;
                color: rgba(255, 255, 255, 0.849);
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: blink;
                font-weight: 300;
            }

            .img {
                width: 200px;
                height: 415px;
            }
        }

        .img-list {
            position: relative;
            overflow: hidden;

            .img {
                &:hover {
                    animation: scaleImage 0.5s forwards ease-out;
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }
        }
    }

    .about-food-container {
        display: flex;
        justify-content: space-between;

        .heading-description-location-container {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .heading {
                font-weight: 500;
                line-height: 2.5rem;
            }

            .description {
                display: flex;
                gap: 0.2rem;

                a {
                    text-decoration: blink;
                    color: rgb(105, 105, 105);
                    font-size: 1.1rem;
                    font-weight: 300;
                    line-height: 1.5rem;

                    &:hover {
                        color: rgb(28, 28, 28);
                    }
                }
            }

            a {
                text-decoration: blink;
                color: rgb(156, 156, 156);
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.5rem;

                &:hover {
                    color: rgb(28, 28, 28);
                }
            }
        }

        .rating-and-review-container {
            display: flex;
            gap: 0.5rem;
            align-items: flex-start;

            .rating {
                display: flex;
                align-items: center;
                padding: 0.2rem 0.4rem;
                padding-bottom: 1px;
                background-color: rgb(58, 183, 87);
                border-radius: 5px;
                color: white;
                margin-top: 0.5rem;
                gap: 0.2rem;

                .digit {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .star {
                    font-size: 1.2rem;
                    padding-bottom: 0.2rem;
                }
            }

            .rating-count {
                display: flex;
                flex-direction: column;

                .digit {
                    font-weight: 900;
                }

                .note {
                    font-size: 0.9rem;
                    letter-spacing: 0.05rem;

                    a {
                        text-decoration: underline dotted;
                        color: rgb(28, 28, 28);
                    }
                }
            }
        }
    }

    .bookmark-share-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        color: rgb(28, 28, 28);

        .btn {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            padding: 0.7rem;
            border-radius: 8px;
            border: 1px solid gray;
            background: transparent;

            .action {
                font-size: 1rem;
                letter-spacing: 0.05rem;
                font-weight: 100;
            }

            i {
                font-size: 1.1rem;
                font-weight: 300;
                color: rgb(255, 126, 139);
            }
        }

        .bookmarked {
            border: 1px solid rgb(255, 126, 139);
            color: white;
            background-color: rgb(255, 126, 139);

            i {
                color: white;
            }
        }
    }
}