.reviews-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .heading-write-review-container {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading-container {
            .heading {
                font-weight: 500;
                letter-spacing: 0.05rem;
                line-height: 2.5rem;
                font-size: 1.8rem;
            }
            .heading-loader {
                width: 300px;
                height: 35px;
                background-color: rgb(181 181 181 / 37%);
            }
        }

        .write-review {
            padding: 0.5rem 1rem;
            background: border-box rgb(239, 79, 95);
            border: none;
            color: white;
            border-radius: 5px;

            span,
            i {
                font-size: 1rem;
                font-weight: 300;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }

    .list-container-loader {
        animation: pre-loader 1s linear forwards infinite;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .review-card-container-loader {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .following-followers-container-loader {
                display: flex;
                gap: 1rem;

                .image-container-loader {
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                    background-color: rgb(181 181 181 / 37%);
                }

                .user-name-container-loader {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                    text-decoration: blink;
                    color: rgb(28, 28, 28);
                    padding-right: 5rem;
                    padding-top: 5px;

                    .name-loader {
                        padding: 8px 150px;
                        background-color: rgb(181 181 181 / 37%);
                        border-radius: 5px;
                    }

                    .reviews-followers-loader {
                        display: flex;
                        gap: 0.5rem;

                        p {
                            padding: 5px 60px;
                            background-color: rgb(181 181 181 / 37%);
                            border-radius: 5px;
                        }
                    }
                }
            }

            .review-comment-container-loader {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .rating-container-loader {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .rating-loader {
                        display: flex;
                        align-items: center;
                        color: white;
                        gap: 0.1rem;
                        padding: 0.1rem 0.3rem;
                        border-radius: 8px;
                        background-color: rgb(181 181 181 / 37%);
                    }

                    .delivery-loader {
                        padding: 10px 20px;
                        background-color: rgb(181 181 181 / 37%);
                    }

                    .created-at-container-loader {
                        margin-left: 0.5rem;
                        padding: 10px 20px;
                        border-radius: 5px;
                        background-color: rgb(181 181 181 / 37%);
                    }
                }

                .comment-container-loader {
                    width: 275px;
                    height: 30px;
                    background-color: rgb(181 181 181 / 37%);
                }

                .photos-container-loader {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    .photos-loader {
                        width: 275px;
                        height: 150px;
                        border-radius: 5px;
                        background-color: rgb(181 181 181 / 37%);
                    }
                }
            }
        }
    }
}

.reviews-wrapper-loader {
    margin-left: 1.5rem;
}